BasedOnStyle: Microsoft

UseTab: AlignWithSpaces
IndentWidth: 4
TabWidth: 4
ColumnLimit: 180
Standard: Cpp11

BraceWrapping: 
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  BeforeLambdaBody: false
  AfterStruct: true
  AfterUnion: true
  AfterClass: true
  AfterExternBlock: true
  AfterNamespace: true
  AfterFunction: true
  AfterControlStatement: MultiLine

PackConstructorInitializers: NextLine
ConstructorInitializerAllOnOneLineOrOnePerLine: true

PointerAlignment: Left

AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Right
AlignTrailingComments: true
AlignConsecutiveAssignments: Consecutive

AlignOperands: Align
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
BinPackParameters: false
AlignArrayOfStructures: Right

Cpp11BracedListStyle: false