BasedOnStyle: Microsoft

UseTab: Never
IndentWidth: 4
TabWidth: 4
ColumnLimit: 0

PointerAlignment: Left

AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Right
AlignTrailingComments: true
AlignConsecutiveAssignments: Consecutive

AlignOperands: Align
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
BinPackParameters: false
AlignArrayOfStructures: Right

Cpp11BracedListStyle: false